PORT=3000
NODE_ENV=development

# Configuração do PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=brain_agriculture
DATABASE_URL=postgres://postgres:postgrespassword@localhost:5432/brain_agriculture
